
<div class="wrapper-starter-registry">
    <br>
    <span></span>
    <div class="center text-center">

        <ngx-typed-js
                [strings]="['Vamos confirmar alguns dados primeiro ok!?']"
                [loop]="false"
                [showCursor]="false"
                [fadeOut] = "false"
                (completed)="showImputFirstName()"
                [typeSpeed]="40">
            <h2 class="typing"></h2>
        </ngx-typed-js>


        <div class="row" style="margin-top: 30px">
            <div class="col-md-3"></div>
            <div class="col-md-6" *ngIf="formFirstName" >

                <mat-form-field #inputFirstName class="example-form-field" style="color: white !important;">
                    <input oninput="this.value = this.value.toUpperCase()" class="text-center" placeholder="Primeiro nome" matInput type="text" autofocus>

                </mat-form-field>

                <mat-form-field #inputLastName class="example-form-field" style="color: white">
                    <input oninput="this.value = this.value.toUpperCase()" class="text-center" placeholder="Sobrenome" matInput type="text" autofocus>

                </mat-form-field>

                <div class="row">
                    <div class="col-md">
                        <button mat-raised-button type="submit" [routerLink]="['/admin/user-profile']" class="btn btn-white btn-block" style="color: #0d47a1; font-weight: bold">VOLTAR</button>

                    </div>
                    <div class="col-md">
                        <button mat-raised-button type="submit" (click)="nextComponent()" class="btn btn-white btn-block" style="color: #0d47a1; font-weight: bold">PRÓXIMO</button>

                    </div>
                </div>


            </div>
            <div class="col-md-3"></div>

        </div>

    </div>
</div>
