<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title teste" >Dados de Cadastro</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-2"><mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sobrenome">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2" style="white-space: inherit">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Data de Nascimento" type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CPF" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="RG" type="text">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="E-mail" type="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefone" mask="0000-0000"type="text">
                                    </mat-form-field>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CEP" (input)="checkCep($event.target.value)" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Pais" [value]="pais" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Estado" [value]="estado" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <form class="">
                                        <mat-form-field>
                                            <mat-label>Cidade</mat-label>
                                            <input type="text"
                                                   aria-label="Cidade"
                                                   matInput
                                                   [formControl]="myControl"
                                                   [value]="cidade"
                                                   [matAutocomplete]="auto">
                                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Endereço" [value]="endereco" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="N°" [value]="numero" type="number">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Sobre mim</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                                  placeholder=""></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [routerLink]="['/account']" class="btn btn-info pull-right">Salvar</button>

                            <button mat-raised-button class="btn btn-danger pull-right">Sair</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
